p {
    border: 2px solid tomato;
    padding: 30px; /* padding adalah jarak antara isi dengan border */
    margin: 50px; /*margin adalah jarak border dengan margin yang diluar*/
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

a:active{ /*active akan terlihat ketika kamu menekan tombolnya*/
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}